@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple Movies Database for creating, editing, deleting and filtering movies. Click <a asp-area="" asp-controller="Movies" asp-action="Index">Here</a> to check MVC_Movies Collection.</p>
</div>
